.btn-login {
    background: $color-main;
    border: 1px solid $color-main;
    color: $white;
    font-size: em(18);
    font-weight: 400;
    border-radius: 42px;
    width: 115px;
    line-height: 2.3;
    display: inline-block;
    text-align: center;
    margin-left: 12px;

    &:hover,
    &:focus {
        background: $white;
        border-color: $black;
        color: $black;
    }
}

.btn-login.active {
    background: $white;
    border-color: $black;
    color: $black;
}

.get-btn {
    margin-top: 10px;

    input[type="submit"] {
        background: $color-main;
        border: 1px solid $color-main;
        color: $white;
        font-size: em(22);
        font-weight: 600;
        width: 362px;
        text-align: center;
        border-radius: 42px;
        padding: 0 32px;
        line-height: 2.6;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        @include breakpoint (desktop) {
            font-size: em(18);
            width: 300px;
            padding: 0 22px;
            line-height: 2.4;
        }

        &:hover,
        &:focus {
            background: $white;
            border-color: $black;
            color: $black;
        }
    }
}

.get-btn.contact {
    input[type="submit"] {
        width: 222px;
    }
}