@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');
/* font-family: 'Raleway', sans-serif;*/

@font-face {
	font-family: 'Conv_FreightDispBook Regular';
	src: url('fonts/FreightDispBook Regular.eot');
	src: local('☺'), url('../fonts/my-fonts/freightdispbook regular.woff') format('woff'), url('../fonts/my-fonts/freightdispbook regular.ttf') format('truetype'), url('../fonts/my-fonts/freightdispbook regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: $sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: $base-font-size + px;
  color: $black;
  margin: 0;
}

@media screen and (min-width:1500px) {
  .container {
    max-width: 1470px;
  }
}

section {
  padding: 75px 0;

  @include breakpoint (desktop) {
    padding: 45px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;

  line-height: 1.5;
  margin: 0 0 25px;
  color: $color-heading;
}


h1 {
  font-size: em(42);
  font-family: $sans-serif;


  @include breakpoint(desktop) {
    font-size: em(38);
  }

  @include breakpoint(ipad) {
    font-size: em(32);
  }

  @include breakpoint(mobile) {
    font-size: em(30);
  }
}

h2 {
  font-size: em(36);


  @include breakpoint(desktop) {
    font-size: em(34);
  }

  @include breakpoint(ipad) {
    font-size: em(28);
  }

  @include breakpoint(mobile) {
    font-size: em(22);
  }
}

h3 {
  font-size: em(30);


  @include breakpoint(desktop) {
    font-size: em(28);
  }

  @include breakpoint(ipad) {
    font-size: em(22);
  }

  @include breakpoint(mobile) {
    font-size: em(18);
  }
}

h4 {
  font-size: em(26);

  @include breakpoint(desktop) {
    font-size: em(24);
  }
}

h5 {
  font-size: em(24);

  @include breakpoint(desktop) {
    font-size: em(21);
  }
}

h6 {
  font-size: em(20);

  @include breakpoint(desktop) {
    font-size: em(18);
  }
}


p {
  font-size: em(18);
  font-family: $sans-serif;
  line-height: 1.7;
  margin-bottom: 30px;
  color: $black;

  @include breakpoint(desktop) {
    font-size: em(16);
    margin-bottom: 25px;
  }

  strong {
    font-family: $sans-serif;

  }

  a {
    color: $black;

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }
}