footer {
    background: #13212a;
    position: relative;
    padding: 35px 0 0;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -51px;
        height: 108px;
        z-index: 1;
        -webkit-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
        transform: skewY(-3deg);
        background: #13212a;
    }

    .container {
        position: relative;
        z-index: 99;

        .ftr-row {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .ftr-col {
                width: 25%;

                @include breakpoint (desktop) {
                    width: 35%;
                }

                figure {
                    margin: 0 auto 15px;
                    width: 220px;
                }

                p {
                    color: $white;
                    font-size: em(16);
                    line-height: 1.8;
                    margin-bottom: 0;
                }

                h5 {
                    color: $white;
                    font-size: em(20);
                    text-transform: uppercase;
                    line-height: 1.4;
                    margin-bottom: 25px;
                    font-weight: 500;
                }

                ul {
                    padding: 0;
                    margin-bottom: 0;
                    list-style: none;

                    li {
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 15px;
                        }

                        a {
                            color: $white;
                            font-size: em(16);
                            font-weight: 400;

                            &:hover {
                                color: $color-main;
                            }
                        }
                    }
                }

                .group {
                    margin: 0;
                    position: relative;

                    .form-control {
                        background: #26323c;
                        border: 1px solid #26323c;
                        height: 46px;
                        box-shadow: none;
                        outline: none;
                        font-size: em(16);
                        font-weight: 400;
                        color: $white;
                        border-radius: 42px;
                        width: 100%;
                        padding: 1px 140px 1px 20px;
                    }

                    .up {
                        background: #6dcc6d;
                        border: 1px solid #6dcc6d;
                        height: 46px;
                        box-shadow: none;
                        outline: none;
                        font-size: em(17);
                        font-weight: 500;
                        text-align: center;
                        color: $white;
                        border-radius: 42px;
                        width: 132px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;

                        &:hover,
                        &:focus {
                            background: $color-main;
                            border-color: $color-main;
                        }
                    }
                }

                .social {
                    margin-top: 35px;

                    h5 {
                        margin-bottom: 15px;
                        text-transform: uppercase;
                    }

                    a {
                        i {
                            width: 34px;
                            height: 34px;
                            border-radius: 100%;
                            text-align: center;
                            line-height: 34px;
                            font-size: em(22);
                            color: $white;
                            display: inline-block;
                            margin: 0 5px;
                        }

                        .fa-facebook {
                            background: #4e71a8;
                        }

                        .fa-instagram {
                            background: #fc503e;
                        }

                        &:hover {
                            i {
                                filter: grayscale(1);
                            }
                        }
                    }
                }
            }

            .contant {
                width: 30%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                @include breakpoint (desktop) {
                    width: 62%;
                    margin: 0 35px 0 25px;
                }


                .ftr-col {
                    width: 100%;
                }
            }
        }
    }

    .ftr-bottom {
        background: #0c171f;
        padding: 15px 0;
        margin-top: 55px;
        text-align: center;

        span {
            color: $white;
            font-size: em(16);
            font-weight: 400;
        }
    }
}