.form-group {
    margin-bottom: 20px;

    @include breakpoint (desktop) {
        margin-bottom: 12px;
    }

    label {
        color: $black;
        font-size: em(18);
        margin-bottom: 5px;
        font-weight: 400;

        sup {
            color: red;
        }

        @include breakpoint (desktop) {
            font-size: em(14);
        }
    }

    .form-control {
        border: 1px solid #d1d1d1;
        width: 100%;
        height: 51px;
        border-radius: 42px;
        box-shadow: none;
        outline: none;
        font-size: em(16);
        color: $color-heading;
        padding: 0px 25px;

        @include breakpoint (desktop) {
            height: 42px;
            font-size: em(14);
            padding: 0 18px;
        }
    }

    textarea.form-control {
        height: 142px;
        resize: none;
        padding:15px 25px;

        @include breakpoint (desktop) {
            padding:12px 18px;
        }
    }

    select.form-control {
        background: transparent url(../../assets/images/drop.png) no-repeat 90% 50%;
        padding: 0px 45px 0px 25px;

        @include breakpoint (desktop) {
            padding: 0px 45px 0px 18px;
        }


    }
}

.checkbox {
    position: relative;
    display: block;
    margin-bottom: 15px;

    label {
        margin: 0;
        font-size: em(15);
        color: $black;
        font-weight: 400;
        line-height: 1.4;
        cursor: pointer;
        padding-left: 28px;

        @include breakpoint (desktop) {
            font-size: em(14);
        }

        a {
            font-size: em(15);
            font-weight: 500;
            color: $black;

            &:hover {
                color: $color-main;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            margin-left: 5px;
            display: none;
        }
    }

    span.wpcf7-list-item.first.last {
        margin: 0;
    }

    .wpcf7-checkbox label {
        position: relative;
        cursor: pointer;
    }

    .wpcf7-checkbox input[type=checkbox] {
        position: relative;
        visibility: hidden;
    }

    .wpcf7-checkbox input[type=checkbox]+span:before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 1px;
        height: 17px;
        width: 16px;
        top: 2px;
        left: 2px;
        border: 1px solid #b6b6b6;

        @include breakpoint (desktop) {
            top: 1px;
        }
    }

    .wpcf7-checkbox input[type=checkbox]+span:after {
        display: block;
        position: absolute;
        content: '\2713';
        color: $black;
        border-radius: 100%;
        height: 9px;
        width: 4px;
        top: 2px;
        left: 5px;
        visibility: hidden;
        font-size: 14px;

        @include breakpoint (desktop) {
            top: 1px;
        }
    }

    .wpcf7-checkbox input[type=checkbox]:checked+span:before {
        background: transparent;
    }

    .wpcf7-checkbox input[type=checkbox]:checked+span:after {
        visibility: visible;
    }
}