button.navbar-toggler.collapsed {
    display: none;

    @include breakpoint (ipad) {
        display: block;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

#header-sroll {
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fixed-header {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 99;
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px 0;

}

header.fixed-header {
    @include breakpoint (ipad) {
        padding: 5px 0;
    }

    .header-top {
        @include breakpoint (ipad) {
            margin-top: 0;
        }

        @include breakpoint (mobile) {
            button.navbar-toggler {
                margin-top: 0;
            }
        }

        .navbar {
            margin-top: 0;
        }

        .logo {
            top: 0;
            width: 165px;

            @include breakpoint (ipad) {
                width: 135px;
            }
        }
    }
}


@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.nav-bar {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

header .nav-bar {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


header {
    position: relative;
    background: $white;
    display: block;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
    z-index: 999;
    padding: 12px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 0.32);

    @include breakpoint (ipad) {
        padding: 0;
    }

    @include breakpoint (mobile) {
        position: inherit;
    }

    .main-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .logo {
            padding: 0;

            a {
                display: block;
            }
        }

        .navbar {
            padding: 0;


            @include breakpoint (ipad) {
                position: absolute;
                top: 100%;
                z-index: 999;
                background: $white;
                left: 35px;
                right: 35px;
            }

            @include breakpoint (mobile) {
                left: 12px;
                right: 24px;
                top: 101%;

                .navbar-collapse {
                    height: 100%;
                    max-height: 410px;
                    overflow-y: scroll;
                }
            }

            .navbar-nav {
                padding: 0;
                margin: 0;

                li {
                    margin-right: 55px;

                    @include breakpoint (desktop) {
                        margin-right: 35px;
                    }

                    @include breakpoint (normal) {
                        margin-right: 12px;
                    }

                    @include breakpoint (ipad) {
                        margin: 0px 35px 8px;
                        border-bottom: 1px dashed $color-main;
                    }

                    a {
                        font-size: em(18);
                        font-weight: 400;
                        color: $black;

                        @include breakpoint (desktop) {
                            font-size: em(17);
                        }

                        @include breakpoint (normal) {
                            font-size: em(16);
                        }

                        @include breakpoint (ipad) {
                            font-size: em(18);
                            display: block;
                        }

                        @include breakpoint (mobile) {
                            font-size: em(16);
                        }

                        &:hover {
                            color: $color-main;
                        }
                    }
                    &.current-menu-parent,
                    &.current-menu-item {
                        a {
                            color: $color-main;
                        }
                    }
                }

                .menu-item-has-children {
                    position: relative;

                    &::after {
                        content: '\f107';
                        font-family: 'FontAwesome';
                        color: $color-main;
                        top: 1px;
                        right: -18px;
                        position: absolute;
                        font-size: em(18);
                    }

                    .sub-menu {
                        position: absolute;
                        display: block;
                        top: 72px;
                        visibility: hidden;
                        opacity: 0;
                        background-color: #fff;
                        border: 1px solid rgba(0, 0, 0, 0.15);
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        cursor: none;
                        border-radius: 0;
                        padding: 0;
                        margin: 0;
                        min-width: 240px;
                        padding: 0;
                        list-style: none;
                        margin: 0;

                        &:after {
                            content: '';
                            position: absolute;
                            top: -8px;
                            left: 50%;
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-bottom: 8px solid rgba(0, 0, 0, 0.15);
                        }

                        li {
                            padding: 0;
                            margin: 2px 0;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.22);
                            &:last-child{
                                border-bottom: none;
                            }

                            a {
                                font-size: em(14);
                                font-weight: 400;
                                color: $black;
                                padding: 5px 12px;
                                display: block;

                                @include breakpoint (desktop) {
                                    font-size: em(14);
                                }

                                &:hover {
                                    color: $color-main;
                                }
                            }

                            &.current-menu-item {
                                a {
                                    color: $color-main;
                                }
                            }
                        }
                    }

                    &:hover {
                        ul.sub-menu {
                            display: block;
                            top: 100%;
                            visibility: visible;
                            opacity: 1;
                            cursor: pointer;
                        }

                    }
                }

            }
        }

        button.navbar-toggler.collapsed {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        button.navbar-toggler {
            position: absolute;
            right: 35px;
            background: url(../images/menu-icon.png) no-repeat;
            background-position: center;
            background-size: 30px;
            padding: 0;
            width: 30px;
            height: 30px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            @include breakpoint (mobile) {
                right: 12px;
                margin-top: 14px;
            }
        }

    }
}