.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.banner {
    @include bg-cover;
    height: 660px;
    position: relative;

    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;

        .main-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-left {
                h2 {
                    font-size: em(46);
                    color: $color-heading;
                    line-height: 1.2;
                    margin-bottom: 10px;
                    font-weight: 600;
                    text-transform: uppercase;
                    @include breakpoint (desktop){
                        font-size: em(36);
                    }
                }

                p {
                    font-size: em(32);
                    color: $color-heading;
                    line-height: 1.4;
                    margin-bottom: 0;
                    font-weight: 300;
                }

                .banner-btn {
                    margin-top: 35px;

                    .btn {
                        background: $color-main;
                        border: 1px solid $color-main;
                        color: $white;
                        font-size: em(18);
                        font-weight: 400;
                        border-radius: 42px;
                        line-height: 3;
                        padding: 0 35px;
                        text-transform: uppercase;
                        display: inline-block;
                        text-align: center;
                        margin-right: 12px;

                        &:hover,
                        &:focus {
                            background: $white;
                            border-color: $white;
                            color: $black;
                        }
                    }

                    .active {
                        background: $white;
                        border-color: $white;
                        color: $black;
                    }
                }
            }

            &-right {
                figure {
                    margin: 0;
                }
            }
        }

        .carousel-control-next,
        .carousel-control-prev {
            width: auto;
            top: inherit;
            bottom: 0;

            @include breakpoint (desktop) {
                bottom: -42px;
            }
        }

        .carousel-control-prev {
            left: 45%;

            @include breakpoint (desktop) {
                left: 42%;
            }
        }

        .carousel-control-next {
            right: 42%;

            @include breakpoint (desktop) {
                right: 40%;
            }
        }

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            background-position: center;
            background-size: contain;
            width: 84px;
            height: 20px;
            left: 50%;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            transform: scale(0.8);

            &:hover {
                transform: scale(1);
            }
        }

        .carousel-control-next-icon {
            background-image: url('../../assets/images/arrow-right.png');
        }

        .carousel-control-prev-icon {
            background-image: url('../../assets/images/arrow-left.png');
        }
    }
}