/*** Parameters ***/

// Colors
$color-main:#0079f0;
$white:#fff;
$black: #000000;
$tab-color: #aeaeae;
$color-heading: #2e2e2e;
$color-primary: #111111;
$color-secondary: #e6261c;
$color-light: #f1f1f1;
$color-brand: #fdce00;
$color-nav:#c0c0c0;

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #fc503e;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$base-font-size: 16;

// Spacing
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;

// Media queries
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;

// Font Family
$sans-serif: 'Montserrat', sans-serif;
$Freight: 'Conv_FreightDispBook Regular';


// Animation
$anime-in: .4s;
$anime-out: .5s;
