.faq {
    padding: 75px 0 12%;

    .faq-tabs {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .tab-content {
            width: 100%;

            .card {
                border-radius: 26px;
                border: solid 1px #d7d5d5;
                margin-bottom: 10px;


                &:last-child {
                    margin-bottom: 0;
                }

                .card-header {
                    border-bottom: none;
                    background: transparent;
                    padding: 0px;

                    .card-link {
                        background: #f1f9ff;
                        padding: 12px;
                        padding-right: 65px;
                        padding-left: 20px;
                        display: block;
                        font-size: em(18);
                        font-weight: 600;
                        color: #03213e;
                        border-top-left-radius: 26px;
                        border-top-right-radius: 26px;

                        &:before {
                            content: "\f068";
                            font: normal normal normal 19px/1 FontAwesome;
                            position: absolute;
                            top: 7px;
                            right: 9px;
                            @include transition;
                            width: 39px;
                            height: 39px;
                            background: #0086f3;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                        }

                        &.collapsed {
                            background: transparent;

                            &:before {
                                content: "\f067";
                                @include transition;
                            }
                        }

                        &:hover {
                            color: $color-main;
                        }
                    }
                }

                .card-body {
                    border-bottom-left-radius: 26px;
                    border-bottom-right-radius: 26px;
                    background: #f1f9ff;

                    p {
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }

            }
        }

    }
}