.management-tab {
    padding-bottom: 75px;
    position: relative;

    .tab-head {
        position: relative;
        top: -35px;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;

            li {
                display: inline-block;
                vertical-align: middle;
                margin: 0 15px;

                @include breakpoint (desktop) {
                    vertical-align: top;
                }

                .tab-list {
                    text-align: center;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;

                    article {
                        cursor: pointer;
                        background: #ebebeb;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.21);
                        padding: 100px 25px 20px;
                        border-top-left-radius: 42px;
                        border-bottom-left-radius: 42px;
                        border-bottom-right-radius: 42px;
                        width: 580px;
                        min-height: 450px;
                        position: relative;
                        -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;

                        @include breakpoint (desktop) {
                            width: 450px;
                            min-height: 415px;
                        }

                        figure {
                            margin-bottom: 12px;
                            background: #87c9db;
                            width: 142px;
                            height: 142px;
                            line-height: 142px;
                            border-radius: 100%;
                            overflow: hidden;
                            margin-bottom: 0;
                            text-align: center;
                            border: 1px solid $black;
                            position: absolute;
                            top: -62px;
                            left: 50%;
                            transform: translateX(-50%);
                            filter: grayscale(100%);
                            -webkit-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                        }

                        h4 {
                            color: $tab-color;
                            font-size: em(30);
                            font-weight: 400;
                            margin-bottom: 15px;
                            -webkit-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;

                            @include breakpoint (desktop) {
                                font-size: em(26);
                                margin-bottom: 10px;
                            }
                        }

                        p {
                            color: $tab-color;
                            line-height: 2;
                            font-size: em(16);
                            -webkit-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;

                            @include breakpoint (desktop) {
                                font-size: em(14);
                                line-height: 1.8;
                                margin-bottom: 10px;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            a {
                                color: #aac7c6;
                                display: inline-block;
                                -webkit-transition: all 0.3s ease-in-out;
                                transition: all 0.3s ease-in-out;
                            }
                        }

                        span {
                            width: 52px;
                            height: 52px;
                            line-height: 50px;
                            border-radius: 100%;
                            background: #cfcfcf;
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.21);
                            display: inline-block;
                            position: absolute;
                            bottom: -22px;
                            left: 50%;
                            transform: translateX(-50%);

                            svg {
                                width: 24px;
                                height: 24px;
                                fill: $white;
                            }
                        }
                    }
                }

                .tab-list:hover article,
                .activelink article {
                    background: $white;

                    figure {
                        filter: grayscale(0);
                    }

                    p,
                    h4 {
                        color: $black;

                        a {
                            color: $color-main;

                            &:hover {
                                color: $black;
                            }
                        }
                    }

                    span {
                        background: $white;

                        svg {
                            fill: $color-main;
                        }
                    }
                }
            }
        }
    }

    .management-field {
        padding-bottom: 0;



        .virtual-tab {
            margin-top: 55px;

            .Property-line {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 45px 0 75px;

                h4 {
                    color: $color-heading;
                    font-size: em(30);
                    font-weight: 500;
                    margin-bottom: 0;
                }

                .btn-login {
                    width: auto;
                    font-size: em(18);
                    line-height: 3.2;
                    margin-left: 45px;
                    padding: 0 58px;
                }
            }

            .field-row {
                padding: 75px 0 35px;
                position: relative;

                .container {
                    position: relative;
                    z-index: 4;

                    ul {
                        padding: 0;
                        list-style: none;
                        margin: 0;

                        li {
                            display: inline-block;
                            vertical-align: middle;
                            text-align: center;
                            font-size: em(22);
                            font-weight: 400;
                            color: $white;
                            margin: 0 auto 55px;
                            width: 24%;
                            line-height: 1.4;

                            @include breakpoint (desktop) {
                                font-size: em(18);
                                margin: 0 auto 35px;
                            }

                            figure {
                                margin-bottom: 20px;
                            }
                        }
                    }

                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -20px;
                    width: 100%;
                    height: 632px;
                    z-index: -1;
                    transform: skewY(-3deg);
                    background: -moz-linear-gradient(272deg, rgba(5, 83, 111, 1) 0%, rgba(92, 161, 160, 1) 58%, rgba(255, 255, 255, 1) 88%);
                    background: -webkit-linear-gradient(272deg, rgba(5, 83, 111, 1) 0%, rgba(92, 161, 160, 1) 58%, rgba(255, 255, 255, 1) 88%);
                    background: linear-gradient(178deg, rgba(5, 83, 111, 1) 0%, rgba(92, 161, 160, 1) 58%, rgba(255, 255, 255, 1) 88%);

                }
            }

            .gray-row {
                padding: 0;

                ul {
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    li {
                        display: inline-block;
                        vertical-align: middle;
                        text-align: center;
                        margin: 0 auto;
                        width: 25%;
                        min-height: 300px;
                        padding: 35px 15px 25px;
                        line-height: 1.4;
                        border: 1px solid rgba(171, 171, 171, 0.42);

                        @include breakpoint (desktop) {
                            min-height: 325px;
                        }

                        &:nth-of-type(1n) {
                            border-left: none;
                            border-top: none;
                        }

                        &:nth-of-type(4n) {
                            border-right: none;
                            border-top: none;
                        }

                        &:nth-of-type(9),
                        &:nth-of-type(10),
                        &:nth-of-type(11),
                        &:nth-of-type(12) {
                            border-bottom: none;
                        }

                        figure {
                            margin-bottom: 20px;
                            filter: grayscale(100%);
                        }

                        h4 {
                            color: $tab-color;
                            font-size: em(22);
                            line-height: 1.2;
                            font-weight: 400;
                            margin-bottom: 10px;

                            @include breakpoint (desktop) {
                                font-size: em(18);
                            }
                        }

                        p {
                            color: $tab-color;
                            line-height: 1.8;
                            font-size: em(16);
                            margin-bottom: 10px;

                            @include breakpoint (desktop) {
                                line-height: 1.6;
                            }
                        }

                        a {
                            color: $tab-color;
                            font-style: italic;

                            &:hover {
                                color: $black;
                            }
                        }

                    }
                }
            }
        }

        .active {
            display: block;

            .field-row .container {
                ul li {
                    filter: grayscale(0);
                    color: $white;
                }
            }

            .gray-row {
                ul li {
                    figure {
                        filter: grayscale(1);
                    }

                    p,
                    a,
                    h4 {
                        color: #aeaeae;
                    }
                }
            }
        }

        .active:nth-of-type(2) {
            display: block;

            .field-row .container {
                ul li {
                    filter: grayscale(1);
                    color: #aeaeae;
                }
            }

            .gray-row {
                ul li {
                    figure {
                        filter: grayscale(0);
                    }

                    p,
                    h4 {
                        color: $black;
                    }

                    a {
                        color: #0086f3;

                        &:hover {
                            color: #aeaeae;
                        }
                    }
                }
            }
        }

        .hide {
            display: none;
        }
    }
}

.properties {
    position: relative;
    padding: 100px 0 75px;

    .container {
        position: relative;
        z-index: 2;

        .heading {
            margin: 0;

            h3 {
                color: $color-heading;
                font-size: em(42);
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 45px;
                padding-bottom: 15px;
                position: relative;

                @include breakpoint (desktop) {
                    font-size: em(36);
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 84px;
                    height: 4px;
                    border-radius: 24px;
                    background: $color-main;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 90px;
                    width: 24px;
                    height: 4px;
                    border-radius: 24px;
                    background: $color-main;
                }
            }
        }

        article {
            margin-bottom: 0;

            h4 {
                color: $color-heading;
                font-size: em(28);
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 12px;
            }

            p {
                line-height: 1.8;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: skewY(-3deg);
        background: -moz-linear-gradient(272deg, rgba(65, 157, 172, 1) 0%, rgba(186, 244, 219, 1) 70%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-linear-gradient(272deg, rgba(65, 157, 172, 1) 0%, rgba(186, 244, 219, 1) 70%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(178deg, rgba(65, 157, 172, 1) 0%, rgba(186, 244, 219, 1) 70%, rgba(255, 255, 255, 1) 100%);
    }
}

.video-section {
    padding: 0;

    figure {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        transform: skewY(-3deg);
        height: 950px;
        margin-bottom: 0;
        position: relative;

        @include breakpoint (desktop) {
            height: 680px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.45);
        }

        .container {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: 4;

            figcaption {
                transform: skewY(3deg);
                position: relative;
                z-index: 4;
                text-align: center;

                a {
                    background: $color-main;
                    color: $white;
                    font-size: em(28);
                    display: block;
                    width: 82px;
                    height: 82px;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 80px;
                    margin: 0 auto 25px;
                    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
                    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
                    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
                    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

                    &:hover {
                        background: $color-heading;

                    }

                }

                @-webkit-keyframes pulse {
                    to {
                        box-shadow: 0 0 0 18px rgba(0, 121, 240, 0.2);
                    }
                }

                @-moz-keyframes pulse {
                    to {
                        box-shadow: 0 0 0 20px rgba(0, 121, 240, 0.4);
                    }
                }

                @-ms-keyframes pulse {
                    to {
                        box-shadow: 0 0 0 22px rgba(0, 121, 240, 0.2);
                    }
                }

                @keyframes pulse {
                    to {
                        box-shadow: 0 0 0 24px rgba(0, 121, 240, 0.4);
                    }
                }
            }

            h4 {
                color: $white;
                font-size: em(42);
                font-weight: 600;
                line-height: 1.2;
                margin-bottom: 10px;

                @include breakpoint (desktop) {
                    font-size: em(36);
                }
            }

            h5 {
                color: $white;
                font-size: em(32);
                font-weight: 400;
                line-height: 1.2;
                margin-bottom: 0;
            }
        }
    }
}

.our-client {
    position: relative;

    @include breakpoint (desktop) {
        padding-top: 55px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: skewY(-3deg);
        background: -moz-linear-gradient(272deg, rgba(39, 132, 150, 1) 0%, rgba(161, 224, 203, 1) 46%, rgba(141, 229, 215, 1) 71%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-linear-gradient(272deg, rgba(39, 132, 150, 1) 0%, rgba(161, 224, 203, 1) 46%, rgba(141, 229, 215, 1) 71%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(178deg, rgba(39, 132, 150, 1) 0%, rgba(161, 224, 203, 1) 46%, rgba(141, 229, 215, 1) 71%, rgba(255, 255, 255, 1) 100%);
    }

    .container {
        position: relative;
        z-index: 2;
        text-align: center;

        .heading {
            margin-bottom: 35px;
            text-align: center;

            h3 {
                color: $color-heading;
                font-size: em(42);
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 45px;
                padding-bottom: 15px;
                position: relative;

                @include breakpoint (desktop) {
                    font-size: em(36);
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 48%;
                    width: 84px;
                    height: 4px;
                    border-radius: 24px;
                    background: #0079f0;
                    transform: translateX(-50%);
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 46%;
                    transform: translateX(-50%);
                    width: 24px;
                    height: 4px;
                    border-radius: 24px;
                    background: $color-main;
                }
            }
        }

        .clients-list {
            margin: 0;

            .item {
                padding: 0 15px;

                figure {
                    width: 132px;
                    height: 132px;
                    border-radius: 100%;
                    background: $color-main;
                    overflow: hidden;
                    overflow: hidden;
                    margin: 0 auto -65px;

                    img {
                        border-radius: 100%;
                    }
                }

                .item-list {
                    background: #fff9f5;
                    padding: 85px 25px 25px;
                    text-align: center;
                    min-height: 450px;

                    @include breakpoint (desktop) {
                        min-height: 475px;
                    }

                    .star {
                        margin-bottom: 10px;

                        a {
                            color: #eece49;
                            font-size: 24px;
                            margin: 0 1px;

                            &:hover {
                                color: $color-main;
                            }
                        }
                    }

                    p {
                        line-height: 1.8;
                        font-size: em(16);
                        margin-bottom: 15px;
                        padding: 0 30px 15px;
                        position: relative;

                        &::after {
                            content: '\f10d';
                            font-family: 'FontAwesome';
                            font-size: em(22);
                            color: $tab-color;
                            position: absolute;
                            top: -8px;
                            left: 0;
                        }

                        &::before {
                            content: '\f10e';
                            font-family: 'FontAwesome';
                            font-size: em(22);
                            color: $tab-color;
                            position: absolute;
                            bottom: -8px;
                            right: 0;
                        }

                        @include breakpoint (desktop) {
                            font-size: em(16);
                            line-height: 1.6;
                        }
                    }

                    strong {
                        font-weight: 500;
                        position: absolute;
                        bottom: 25px;
                        left: 0;
                        right: 0;

                        @include breakpoint (desktop) {
                            bottom: 20px;
                        }
                    }

                }
            }

            .center {
                margin: 0;
                padding: 0;

                .item-list {
                    border-bottom: 4px solid $color-main;
                }
            }
        }

        .btn-login {
            margin: 75px 0 0;
            width: auto;
            padding: 0 28px;
            line-height: 2.6;
        }

        .about-us {
            margin: 8% 0 5%;

            figure {
                margin: 0 75px 0 0;
            }

            .heading {
                text-align: left;

                h3 {
                    &::after {
                        left: 0;
                        transform: translateX(0%);
                    }

                    &::before {
                        left: 91px;
                        right: inherit;
                        transform: translateX(0%);
                    }
                }

            }

            p {
                text-align: left !important;
                font-size: em(17);

                @include breakpoint (desktop) {
                    font-size: em(16);
                    margin-bottom: 12px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: $color-main;

                    &:hover {
                        color: $black;
                    }
                }
            }
        }

    }
}

.income {
    padding: 0 0 115px;
    position: relative;
    text-align: center;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: skewY(-3deg);
        background: -moz-linear-gradient(178deg, #fbfbfb 0%, white 29%, white 100%);
        background: -webkit-linear-gradient(178deg, #fbfbfb 0%, white 29%, white 100%);
        background: linear-gradient(178deg, #fbfbfb 0%, white 29%, white 100%);

    }

    .container {
        position: relative;
        z-index: 2;

        .heading {
            margin-bottom: 35px;
            text-align: center;

            h3 {
                color: $color-heading;
                font-size: em(42);
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 45px;
                padding-bottom: 15px;
                position: relative;

                @include breakpoint (desktop) {
                    font-size: em(36);
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 48%;
                    width: 84px;
                    height: 4px;
                    border-radius: 24px;
                    background: #0079f0;
                    transform: translateX(-50%);
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 46%;
                    transform: translateX(-50%);
                    width: 24px;
                    height: 4px;
                    border-radius: 24px;
                    background: $color-main;
                }
            }
        }

        ul {
            padding: 0;
            list-style: none;
            margin: 25px auto 0;
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            @include breakpoint (desktop) {
                width: 90%;
            }

            li {
                figure {
                    margin-bottom: 0;
                }

                margin: 10px;
                width: 190px;
                display: inline-block;
                vertical-align: middle;

                @include breakpoint (desktop) {
                    width: 175px;
                }
            }
        }
    }
}