.media {
    padding-bottom: 135px;

    .short-term {
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 45px;
        margin-bottom: 45px;

        h3 {
            font-size: em(30);
            font-weight: 600;
            color: $black;
            margin-bottom: 12px;
        }
    }

    .col-md-4 {
        display: none;

        .media-news {
            margin-bottom: 45px;

            video {
                width: 100%;
                margin-bottom: 12px;
            }

            h4 {
                font-size: em(24);
                line-height: 1.2;
                font-weight: 400;
                color: $black;
                margin-bottom: 5px;
                @include breakpoint (21)
            }

            cite {
                font-size: em(17);
                font-weight: 300;
                font-style: normal;
                color: $color-main;
            }
        }
    }

    a.load-more {
        background: $color-main;
        border: 1px solid $color-main;
        color: $white;
        font-size: em(21);
        font-weight: 600;
        max-width: 242px;
        margin: 0 auto;
        text-align: center;
        display: block;
        text-align: center;
        border-radius: 42px;
        padding: 0 32px;
        line-height: 2.8;
        text-transform: uppercase;
        @include transition;

        @include breakpoint (desktop) {
            font-size: em(18);
            padding: 0 22px;
            line-height: 2.6;
        }

        &:hover,
        &:focus {
            background: $white;
            border-color: $black;
            color: $black;
        }
    }
}