.blog {
    .blog_content {
        margin-bottom: 35px;
        padding-bottom: 45px;
        border-bottom: 1px solid rgba(181, 179, 179, 0.35);

        @include breakpoint (desktop) {
            margin-bottom: 25px;
            padding-bottom: 35px;
        }

        &:last-child {
            border: none;
            margin-bottom: 0;
        }

        h3 {
            font-size: em(30);
            font-weight: 600;
            margin-bottom: 8px;

            @include breakpoint (desktop) {
                font-size: em(26);
                margin-bottom: 5px;
                line-height: 24px;
            }
        }

        .breadcrumb {
            background: transparent;
            padding: 0;
            margin: 0 0 25px;

            @include breakpoint (desktop) {
                margin: 0 0 20px;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    color: $color-main;
                    font-size: em(17);
                    font-weight: 400;
                    margin-right: 8px;
                    position: relative;

                    @include breakpoint (desktop) {
                        font-size: em(16);
                    }

                    &::before {

                        display: inline-block;
                        padding-right: 12px;
                        color: $color-main;
                        content: "/";
                    }

                    &:first-child {
                        &::before {
                            display: none;
                        }
                    }
                }


            }
        }

        figure {
            @include bg-cover;
            height: 515px;
            margin-bottom: 0;

            @include breakpoint (desktop) {
                height: 390px;
            }
        }

        .case-text {
            margin-top: 25px;

            @include breakpoint (desktop) {
                margin-top: 20px;
            }

            p {
                margin: 0;

                a {
                    color: $color-main;
                    font-style: italic;
                    font-size: em(16);

                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }

    .blog-pegination {
        margin: 45px 0;

        ul.pagination {
            justify-content: center;
            margin: 0;
            padding: 0;

            li.page-item {
                margin: 0 8px;

                .page-link {
                    width: 46px;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    border-radius: 100%;
                    position: relative;
                    display: block;
                    color: #000;
                    font-size: em(16);
                    font-weight: 700;
                    background-color: #fff;
                    border: 1px solid #fff;
                    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.18);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i.fa.fa-angle-right {
                        font-size: em(24);
                    }
                }

                &:hover,
                &.active {
                    a {
                        background: $color-main;
                        color: $white;
                    }
                }
            }

            li.page-item.dot {
                a {
                    background: transparent;
                    border: none;
                    width: auto;
                    height: auto;
                    padding: 0;
                    box-shadow: none;
                    margin: 0 5px;
                }
            }
        }
    }

    .blog-right {
        padding-left: 5%;

        @include breakpoint (desktop) {
            padding-left: 3%;
        }

        .search-btn {
            position: relative;
            margin-bottom: 25px;

            @include breakpoint (desktop) {
                margin-bottom: 20px;
            }

            input.form-control {
                border: 1px solid #d5d3d3;
                border-radius: 0;
                background: transparent;
                font-size: em(18);
                padding: 1px 75px 1px 15px;
                font-weight: 400;
                height: 64px;
                width: 100%;
                box-shadow: none;
                outline: none;

                @include breakpoint (desktop) {
                    height: 48px;
                    padding: 1px 55px 1px 15px;
                }
            }

            .sbmit {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 20px;
                font-size: em(24);
                line-height: 21px;
                background: transparent;
                color: $color-main;
                border-left: 1px solid #d5d3d3;
                border-right: none;
                border-top: none;
                border-bottom: none;
                @include transition;

                @include breakpoint (desktop) {
                    padding: 12px;
                    font-size: em(20);
                    line-height: 18px;
                }

                &:hover {
                    color: $black;
                }
            }
        }

        .blog-post {
            margin-top: 35px;

            @include breakpoint (desktop) {
                margin-top: 25px;
            }

            h4 {
                font-size: em(22);
                font-weight: 500;
                margin-bottom: 15px;
                color: $black;

                @include breakpoint (desktop) {
                    font-size: em(20);
                    margin-bottom: 10px;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    font-size: em(17);
                    font-weight: 400;
                    padding-left: 25px;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #f5f5f5;
                    position: relative;

                    @include breakpoint (desktop) {
                        font-size: em(16);
                        padding-left: 22px;
                    }

                    &::after {
                        content: '\f105';
                        font-family: 'FontAwesome';
                        position: absolute;
                        left: 0;
                        top: 0px;
                        color: $color-main;
                        font-size: em(18);
                    }
                }
            }

            article {
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #f5f5f5;

                p {
                    margin-bottom: 5px;
                    line-height: 1.8;
                }

                date {
                    color: $color-main;
                }
            }

            .gallery {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;

                figure {
                    margin: 0;
                    padding: 8px;
                    width: calc(100% / 4);
                }
            }
        }
    }
}

.detail {
    padding-bottom: 115px;

    .blog_content {
        margin: 0;
        padding: 0;
        border: none;

        .case-text {
            h4 {
                font-size: em(26);
                line-height: 24px;
                font-weight: 600;
                margin: 25px 0 0;

                @include breakpoint (desktop) {
                    font-size: em(22);
                    line-height: 20px;
                    margin: 15px 0 0;
                }
            }

            article {
                margin: 15px 0 20px;
                width: 48%;
                display: inline-block;
                vertical-align: top;

                &:nth-of-type(even) {
                    margin-left: 3%;
                }

                h5 {
                    font-size: em(22);
                    font-weight: 500;
                    margin-bottom: 10px;

                    @include breakpoint (desktop) {
                        font-size: em(18);
                        line-height: 1.4;
                    }
                }

                ul {
                    padding: 0;
                    margin: 0 0 15px;
                    list-style: none;
                    counter-reset: my-sec-counter;

                    li {
                        font-size: em(17);
                        font-weight: 400;
                        margin-bottom: 10px;
                        position: relative;


                        @include breakpoint (desktop) {
                            font-size: em(15);
                            
                        }

                        &::before {
                            counter-increment: my-sec-counter;
                            content: ""counter(my-sec-counter) ". ";
                        }

                        a {
                            color: $color-main;

                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }

                p>a {
                    font-style: normal;
                }

                span {
                    margin-bottom: 15px;
                    display: block;
                    @include breakpoint (desktop){
                        font-size: em(15);
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}

.share-list {
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #ddd;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

            strong {
                font-size: em(22);
                font-weight: 600;
                @include breakpoint (desktop){
                    font-size: em(20);
                }
            }

            a {
                width: 42px;
                height: 42px;
                border-radius: 100%;
                text-align: center;
                line-height: 42px;
                color: $white;
                font-size: em(22);

                &:hover {
                    background: $tab-color;
                }
            }

            .fa-facebook {
                background: $color-facebook;
            }

            .fa-instagram {
                background: $color-instagram;
            }
        }
    }
}

.related-post {
    margin-bottom: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid #ddd;

    h4 {
        font-size: em(26);
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 25px;

        @include breakpoint (desktop) {
            font-size: em(24);
            line-height: 24px;
        }
    }

    .post-list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        article {
            margin: 0 10px;

            figure {
                @include bg-cover;
                height: 155px;
                margin-bottom: 10px;
                @include breakpoint (desktop){
                    height: 125px;
                }
            }

            cite {
                font-style: normal;
                color: $color-main;
                letter-spacing: 0.8px;
                font-size: em(16);
            }

            p {
                margin-bottom: 0;
                font-size: em(16);
            }
        }
    }

    .nxt-prv {
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        a {
            color: #aaaaaa;
            font-size: em(18);
            font-weight: 500;
            @include transition;


            img {
                @include transition;
            }

            &:hover {
                color: $black;

                img {
                    border-radius: 100%;
                }
            }

            i {
                margin: 0 10px;
            }
        }

        &:after {
            content: '\f00a';
            font-family: 'FontAwesome';
            position: absolute;
            color: #aaaaaa;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.post-comment {
    h4 {
        font-size: em(26);
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 25px;

        @include breakpoint (desktop) {
            font-size: em(24);
            line-height: 24px;
        }
    }

    .post-btn {
        margin-top: 15px;

        input[type="submit"] {
            background: $color-main;
            border: 1px solid $color-main;
            color: $white;
            font-size: em(22);
            font-weight: 600;
            width: auto;
            text-align: center;
            border-radius: 42px;
            padding: 0 42px;
            line-height: 2.6;
            text-transform: uppercase;
            text-align: center;
            @include transition;

            @include breakpoint (desktop) {
                font-size: em(18);
                padding: 0 32px;
                line-height: 2.4;
            }

            &:hover,
            &:focus {
                background: $white;
                border-color: $black;
                color: $black;
            }
        }
    }
}