.banner-inner {
    @include bg-cover;
    height: 385px;
    position: relative;

    @include breakpoint (desktop) {
        height: 235px;
    }

    .container {
        position: absolute;
        top: 33%;
        left: 0;
        right: 0;
        text-align: center;

        @include breakpoint (desktop) {
            top: 35%;
        }

        h2 {
            color: $color-heading;
            font-size: em(62);
            letter-spacing: 1px;
            font-family: $Freight;
            font-weight: normal;
            margin-bottom: 0;

            @include breakpoint (desktop) {
                font-size: em(52);
            }
        }
    }
}

.sign {
    position: relative;
    top: -95px;
    z-index: 4;
    padding-bottom: 95px;

    @include breakpoint (desktop) {
        top: -62px;
        padding-bottom: 75px;
    }

    .property-list {
        background: #fff;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
        display: flex;
        justify-content: stretch;
        align-items: center;

        .property-left {
            width: 50%;
            padding: 0px 60px 25px 50px;

            h3 {
                font-size: em(46);
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                line-height: 1.1;
                color: $color-heading;
                margin-bottom: 35px;

                @include breakpoint (desktop) {
                    font-size: em(32);
                    margin-bottom: 15px;
                }
            }
        }

        .property-img {
            width: 50%;

            figure {
                margin: 0;
                @include bg-cover;
                height: 650px;

                @include breakpoint (desktop) {
                    height: 515px;
                }
            }
        }
    }

    .property-list.contact {
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.19);

        .property-left {
            width: 65%;
            padding: 35px 60px 25px;
        }

        .property-img {
            position: relative;
            width: 35%;
            padding: 55px 45px 105px;
            background: -moz-linear-gradient(359deg, rgba(65, 157, 172, 1) 0%, rgba(186, 244, 219, 1) 91%, rgba(186, 244, 219, 1) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(65, 157, 172, 1)), color-stop(91%, rgba(186, 244, 219, 1)), color-stop(100%, rgba(186, 244, 219, 1)));
            background: -webkit-linear-gradient(359deg, rgba(65, 157, 172, 1) 0%, rgba(186, 244, 219, 1) 91%, rgba(186, 244, 219, 1) 100%);
            background: linear-gradient(91deg, rgba(65, 157, 172, 1) 0%, rgba(186, 244, 219, 1) 91%, rgba(186, 244, 219, 1) 100%);

            figure {
                margin: 0 0 15px;
                height: auto;
            }

            ul {
                padding: 0;
                list-style: none;
                margin: 35px 0 0;

                @include breakpoint (desktop) {
                    margin: 25px 0 0;
                }

                li {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                    position: relative;
                    padding-left: 72px;

                    @include breakpoint (desktop) {
                        margin-bottom: 12px;
                        padding-left: 52px;
                    }

                    i {
                        width: 52px;
                        height: 52px;
                        line-height: 52px;
                        text-align: center;
                        background: $white;
                        border-radius: 100%;
                        font-size: em(22);
                        color: $color-main;
                        margin-right: 12px;
                        position: absolute;
                        left: 0;

                        @include breakpoint (desktop) {
                            width: 42px;
                            height: 42px;
                            line-height: 42px;
                        }
                    }

                    a {
                        font-size: em(20);
                        font-weight: 400;
                        color: $black;

                        @include breakpoint (desktop) {
                            font-size: em(18);
                        }

                        &:hover {
                            color: $white;
                        }
                    }

                    span {
                        font-size: em(20);
                        line-height: 1.4;
                        font-weight: 400;
                        color: $black;
                        font-size: 1.25em;

                        @include breakpoint (desktop) {
                            font-size: em(18);
                        }
                    }
                }
            }

            .social {
                text-align: center;
                position: absolute;
                bottom: -28px;
                left: 0;
                right: 0;

                @include breakpoint (desktop) {
                    bottom: -22px;
                }

                a {

                    margin: 0 10px;
                    color: $white;
                    font-size: em(26);
                    @include transition;

                    @include breakpoint (desktop) {
                        font-size: em(24);
                    }

                    i {
                        width: 62px;
                        height: 62px;
                        line-height: 62px;
                        text-align: center;
                        border-radius: 100%;
                        display: inline-block;

                        @include breakpoint (desktop) {
                            width: 48px;
                            height: 48px;
                            line-height: 48px;
                        }
                    }

                    .fa-facebook {
                        background: $color-facebook;
                    }

                    .fa-instagram {
                        background: $color-instagram;
                    }

                    &:hover {
                        i {
                            background: $tab-color;
                        }
                    }
                }
            }
        }
    }
}

.contact-map {
    transform: skewY(-3deg);
    height: 550px;
    position: relative;
    top: -48px;

    @include breakpoint (desktop) {
        height: 420px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}