.banner-inner {
    @include bg-cover;
    height: 385px;
    position: relative;

    @include breakpoint (desktop) {
        height: 235px;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
    }
}

.virtual {
    margin: 0;

    .virtual-layout {
        margin: 75px 0;
        position: relative;

        @include breakpoint (desktop) {
            margin: 45px 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: 1px dashed #8b8b8b;
            left: 62px;
            z-index: -1;
        }

        article {
            margin-bottom: 45px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            @include breakpoint (desktop) {
                margin-bottom: 35px;
            }

            figure {
                width: 124px;
                height: 114px;
                background: #fff;
                box-shadow: 0px 0px 10px rgb(228, 239, 249);
                text-align: center;
                line-height: 90px;
                padding: 12px;
                overflow: hidden;
                margin: 0;
                display: inline-block;
                vertical-align: top;
            }

            .virtual-ctnt {
                width: 90%;
                display: inline-block;
                vertical-align: top;
                padding-left: 5%;

                h3 {
                    color: $black;
                    font-size: em(30);
                    font-weight: 600;
                    margin-bottom: 10px;

                    @include breakpoint (desktop) {
                        font-size: em(26);
                    }
                }

                p {
                    font-weight: 300;
                    line-height: 1.8;
                }
            }
        }
    }
}

.full {
    p {
        margin-bottom: 12px;

        a {
            color: $color-main;
            border-bottom: 1px solid $color-main;

            &:hover {
                color: $color-heading;
                border-color: $color-heading;
            }
        }
    }

    ul {
        padding: 0;
        list-style: none;
        margin: 35px 0 0;

        li {
            position: relative;
            padding-left: 25px;
            margin-bottom: 12px;
            font-weight: 400;
            font-size: em(17);
            color: $color-heading;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 7px;
                height: 7px;
                border: 1px solid $color-main;
                background: #fff;
                border-radius: 100%;
            }
        }
    }
}